.bg-gray {
    background-color: #f6f6f6;
}
.section {
    float: left;
    position: relative;
    width: 100%;
}
.pb-90 {
    padding-bottom: 90px;
}
.pt-120 {
    padding-top: 120px;
}
.mb-30 {
    margin-bottom: 30px;
}
.feature-item {
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 45px 15px;
    text-align: center;
}